# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
.pytest_cache/

# =========================
# Virtual Environment
# =========================
.venv/
venv/
env/

# =========================
# Secrets / Environment
# =========================
.env
.env.*
!.env.example

# =========================
# Dataset - DO NOT UPLOAD
# =========================
/data/
Dataset/
dataset/
truthlens_data/

# =========================
# Jupyter temporary files
# =========================
.ipynb_checkpoints/

# =========================
# IDE
# =========================
.vscode/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs / temporary files
# =========================
*.log
*.tmp